<!DOCTYPE html>
<html>
    <head>
        <title>BankdID</title>
    </head>
    <body>
        <button id="sameDevice">This device</button>
        <button id="otherDevice">Other device</button>
        <br/>
        <div id="qrCode"></div>
        <p id="statusMessage"></p>
        <p id="userData"></p>
        <a id="manualLink" style="display: none;">Open BankID</a>
        <br/>
        <button id="cancel" style="display: none;">Cancel</button>
        <br/>
        <button id="extend" style="display: none;">Extend</button>
        <script src="/js/qrcode.min.js"></script>
        <script src="/js/bankid.js"></script>
    </body>
</html>